@import url("https://fonts.googleapis.com/css?family=Fira+Sans");

/* ===================================================================================================
                                General Design Settings
====================================================================================================== */

$colors: (
	orangeD: #F37400,
	orangeL: #F7924B,
	blueD: #0E58A3,
	blueL: #1673B7,
	lightblueD: #A4C1D8,
	lightblueL: #BAD2E5,
	pinkD: #BC0053,
	pinkL: #BC0053,
	purpleD: #690833,
	purpleL: #D775A1,
);

/* =========================================== General Settings ================================================= */

@font-face {
    font-family: 'Intro';
    src: url('Intro.woff2') format('woff2'),
        url('Intro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Intro Inline';
    src: url('Intro-Inline.woff2') format('woff2'),
        url('Intro-Inline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
};

/* =========================================== Index Screen ================================================= */

#index {

};

.circles {
	position: relative;
	top: 20vh;
	width: 50vw;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.circle {
	border-radius: 50%;
	background-color: map-get($colors, orangeD);
	width: 3vw;
	height: 3vw;
	position: relative;
	z-index: 10;
	animation: circleMove 4s;
}

@keyframes circleMove {
from{transform: translateX(0)}
	to{transform: translate(10vw, 80vh)}
}

.bars {
	position: relative;
	top: 20vh;
}

@keyframes barMove {
	from{transform: translateX(0)}
	to{transform: translateX(700px)}
}

.bar {
 width: 50vw;
 height: 0.5vh;
 background-color: map-get($colors, purpleD);
 margin: 3vh 0;
 padding: 0;
}

.index-content {
	color: map-get($colors, purpleD);
	display: flex;
	justify-content: start;
	align-items: flex-end;
	flex-direction: column;
	position: relative;
	top: 40vh;
	padding: 0 10px 0 0;
}

.index-content h1 {
font-family: 'Intro Inline';
	font-size: 5vh;
	font-weight: 100;
}

.index-links {
	text-decoration: none;
	display: flex;
	text-direction: row;
}

.index-links p {
	padding: 0 2vw;
	text-decoration: none;
	color: map-get($colors, purpleD);
	font-size: 2.5vh;
}

/* ========================================== Login Page ====================================================== */



/* ========================================= Signup Page ====================================================== */

#signup-body {
	position: absolute;
	height: 100vh;
	width: 100vh;
	display: flex;
	flex-direction: column;

.bars {
	position: relative;
	left: -20vw;
	top: 20vh;
	animation: barMove 2s forwards;
}

@keyframes barMove {
	from{transform: translateX(-20vw)}
	to{transform: translateX(20vw)}
}

.bar {
 width: 20vw;
 height: 0.5vh;
 background-color: map-get($colors, purpleD);
 margin: 3vh 0;
 padding: 0;
}

.form-structor {
	position: relative;
	top: 35vh;
}

}

/* =========================================== Index Screen ================================================= */
.home {
	width: 100%;
	height: auto;
}

#home-bar-wrapper {
	height: 12vh;
	display: flex;
	flex-direction: row;
	margin-top: 10vh;
	padding: 0;
	justify-content: flex-start;
	width: 100vw;

	.bars {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	top: 0;
	left: -20vw;
	width: 50vw;
	z-index: 5;
	}

	.menu-home {
	display: flex;
	flex-direction: row;
	margin: 0;
	padding: 0;
	top: 0;
	}

.bar1 {
width: 40vw;
left: -10vw;
 height: 0.5vh;
 background-color: map-get($colors, orangeD);
 margin: 1vh 0vh 1vh 0vh;
 padding: 0;
}

.bar2 {
width: 40vw;
left: -10vw;
 height: 0.5vh;
 background-color: map-get($colors, orangeD);
 margin: 1vh 0vh 1vh 0vh;
 padding: 0;
}

.bar3 {
width: 40vw;
left: -10vw;
 height: 0.5vh;
 background-color: map-get($colors, orangeD);
 margin: 1vh 0vh 1vh 0vh;
 padding: 0;
}

.animate-bar1 {
	animation: bar1 2s forwards;
}

.animate-bar2 {
	animation: bar2 2s forwards;
}

.animate-bar3 {
	animation: bar3 2s forwards;
}

@keyframes bar1 {
	from{transform: translateX(0)}
	to{transform: translateX(20vw)}
}

@keyframes bar2 {
	from{transform: translateX(0)}
	to{transform: translateX(10vw)}
}

@keyframes bar3 {
	from{transform: translateX(0)}
	to{transform: translateX(1vw)}
}

/* .menu-links {
	color: map-get($colors, purpleD);
	font-size: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 10;
	left: -20vw;
	height: 8vh;
	display: none;
} */

.animate-menu-link {
	display: flex;
	flex-direction: column;
}

.menu-link {
	color: map-get($colors, purpleD);
	font-size: 80%;
	display: none;
}

}

.home .marglas-div {
	display: flex;
	justify-content: flex-end;
	padding: 1vh;
}

.home .marglas {
	color: map-get($colors, purpleD);
	font-family: "Intro Inline";
	font-size: 200%;
	margin: 5vh 0;
}

.home-header {
	font-size: 100%;
	height: auto;
	color: map-get($colors, orangeD);
	font-family: 'Intro Inline';
}

#boards {

	margin: 0 2% 0 2%;

.home-header {
	font-size: 100%;
	height: auto;
	color: map-get($colors, orangeD);
	font-family: "Intro Inline";
}

.home-carousel {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	margin-left: 1vw;
	justify-content: flex-start;
	align-items: space-between;
}

.carousel-box{
 margin: 1vh 0.5vh;
}

.rectangle {
	border: 0.5vh solid map-get($colors, purpleD);
	background-color: map-get($colors, orangeL);
	height: 10vh;
	width: 30vw;
	text-align: center;
	object-fit: contain;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-bottom: 1vh;
}

.boardHeader {
font-size: 100%;
color: map-get($colors, purpleD);
margin: 0;
padding: 0;
}

.bar {
width: 30vw;
 height: 0.5vh;
 background-color: map-get($colors, orangeD);
 padding: 0;
}
}

.tracker-wrapper {
	margin: 1vh 1vh;
	width: 100vw;

#tracker {
		width: 100vw;
		height: 20vh;
	}
}

#facts-wrapper {
	margin: 2vh 1vh 1vh 1vh;
	width: 100vw;
}

#home-carousel {
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	margin-left: 1vw;
	justify-content: flex-start;
	align-items: space-between;


.carousel-box{
 margin: 1vh 1vh;
 width: 50vw;
 height: auto;
}

.boardHeader {
font-size: 100%;
color: map-get($colors, purpleD);
}
.carousel-box .fact-img img {
	object-fit: contain;
	width: 20vw;
	height: 20vw;
	margin-bottom: 2vh;
}

img {
	width: 70%;
}

.scienceDescription {
	font-size: 80%;
	color: map-get($colors, orangeD);
}

}

/* ============================================= BoardCard ===================================================== */

#boardCard-wrapper {
	color: map-get($colors, orangeD)
}

/* ============================================= Questions ===================================================== */

.questions {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		width: 65%;
		z-index: 5;
		-webkit-transition: all .3s ease;
		
		.form-title {
			color: #382f2f;
			font-size: 1.7em;
			text-align: center;
			
			span {
				color: rgba(0,0,0,0.4);
				opacity: 0;
				visibility: hidden;
				-webkit-transition: all .3s ease;
			}
		}
		
		.form-holder {
			border-radius: 10px;
			background-color: #fff;
			overflow: hidden;
			margin-top: 50px;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
			
			.input {
				border: 0;
				outline: none;
				box-shadow: none;
				display: block;
				height: 40px;
				line-height: 30px;
				padding: 8px 15px;
				border-bottom: 1px solid #eee;
				width: 100%;
				font-size: 14px;
				
				&:last-child {
					border-bottom: 0;
				}
				&::-webkit-input-placeholder {
					color: rgba(0,0,0,0.4);
				}
			}
		}
		
		.submit-btn {
			background-color: rgba(0,0,0,0.4);
			color: rgba(256,256,256,0.7);
			border:0;
			border-radius: 10px;
			display: block;
			margin: 15px auto; 
			padding: 15px 45px;
			width: 100%;
			font-size: 15px;
			font-weight: bold;
			cursor: pointer;
			opacity: 1;
			visibility: visible;
			-webkit-transition: all .3s ease;
			
			&:hover {
				transition: all .3s ease;
				background-color: rgba(0,0,0,0.8);
			}
		}
	}