@font-face {
    font-family: 'PhosphateSolid';
    src: url('PhosphateSolid.woff2') format('woff2'),
        url('PhosphateSolid.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'PhosphateInline';
    src: url('PhosphateInline.woff2') format('woff2'),
        url('PhosphateInline.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

